.header{
  background-color: #000000a3;
  height: 60px;
  position: sticky;
  margin-bottom: 40px;
  padding: 0px 40px;
  line-height: 60px;
  }
  .header img{
    width: 120px;
    padding: 7px 0px;
  }
.loginBlock{
  float: right;
  color: white;
}
.loginBlock a{
  color: white;
}