.header{
    grid-area: header;
    background-color: transparent;
  }
  .header img{
    width: 150px;
    padding: 7px 0px;
  }
.loginBlock{
  float: right;
  color: white;
}
.loginBlock a{
  color: white;
}