.descriptionBlock{
    padding: 10px;
    min-height: 140px;
}
.fullName{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}
.profileStatus{
    font-style: italic;
}
.mainPhoto{
    max-width: 120px;;
}
.contact{
    padding: 0 0 0 10px;
}
.errors{
    color: red;
}