.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItem{
    padding: 10px;

}
.dialogsItem .active{
    color: #1ab5c1;
}
.dialog{
    display: block;
    color: #000;
    text-decoration: none;
    padding: 7px 0;
}
.messages{
    padding: 10px;

}
.message{

}